<aside class="cover">
	<div></div>
	<div class="cover-body">
		<div>
			<h1 class="cover-body-title"><a href="/posts"> HunterCo</a></h1>
			<p class="cover-body-text">Nós oferecemos um canal para sua empresa divulgar oportunidades de Consultoria. E para você consultor candidatar-se a essas oportunidades.</p>
		</div>
		<div class="cover-actions">
				<p class="cover-body-text"> Aproveite e publique agora uma nova oportunidade!</p>
	      		
	      		<%= link_to "<i class='fa fa-plus'></i> Nova Oportunidade".html_safe ,{controller: "posts", action: "new"},
          					  class: "btn btn-lg btn-primary" %>

		</div>
	</div>
</aside>