<aside class="cover">
	<div></div>
	<div class="cover-body">
		<div>
			<h1 class="cover-body-title">HunterCo</h1>
			<p class="cover-body-text">Nós oferecemos um canal para que Empresas possam publicar suas oportunidades para consultores. E Consultores possam  estar candidatando-se a essas oportunidades.</p>
		</div>
		<div class="cover-actions">
				<p class="cover-body-text"> Aproveite e publique agora uma nova oportunidade!</p>
	      		
	      		<%= link_to "<i class='icon-plus'></i> Nova Oportunidade".html_safe ,{controller: "posts", action: "new"},
          					  class: "btn btn-lg btn-info" %>

		</div>
	</div>
</aside>