<header class="header">

	<% if defined?(titulo) %>
		<h2> <%= titulo %></h2>
	<% end %>

    <!-- SEARCH -->
 	<% if search == true %>
 		<%= render "search" %>
 	<% end %>
 	<!-- MENU -->
	<div class="icon-menu">
		<ul>
			<a href="/posts" title="Página Inicial"><li class="fa fa-home fa-2"></li></a>
			<a href="/posts" title="RSS"><li class="fa fa-rss fa-2"></li></a>
			<a href="http://www.twitter.com/@gohunterco" title="Nós no Twitter!" target="_blanck"><li class="fa fa-twitter fa-2"></li></a>
			<a href="http://www.linkedin.com/company/3151039" title="Nós no LinkedIn!" target="_blanck"><li class="fa fa-linkedin fa-2"></li></a>
		</ul>
	</div>	
</header>