<header class="header">
    <!-- SEARCH -->
 	<%= render "search" %>

 	<!-- MENU -->
	<div class="icon-menu">
		<ul>
			<li class="icon-home icon"></li>
			<li class="icon-rss icon"></li>
			<li class="icon-twitter icon"></li>
			<li class="icon-linkedin icon"></li>
		</ul>
	</div>	
</header>